*{
    padding: 0;
    margin: 0;
}

.body {
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #d2001a, #6200ff, #2de0ff);
}

header {
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    align-self: flex-start;
  }
  

  
  .logo img {
    width: 100px;
    height: 100px;
  }
  
  h1{
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 3px darkmagenta;
    position: relative;
    font-size: 5em;
  }
  h1::before{
    content: "MentorShip";
    position: absolute;
    width:0%;
    height:100%;
    overflow: hidden ;
    color: darkmagenta;
    border-right: 8px  darkmagenta;
    transition: 1s linear;
  }
  h1:hover::before{
    width: 21.4%;
    
  }

  h3{
    text-align: center;
  }
  .box{
    background-color: rgba(255, 255, 255,0.4);
  }
  
  nav {
    margin-left: 20px;
  }
  

  
  .btn {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid rgb(126, 124, 124);
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #3e8e41;
    border: 1px solid #2e6d31;
  }
  .image{
    display: flex;
    justify-content: center;
    align-items: last baseline;
  }
  .scroll{
    position: relative;
    height : 50%;
    overflow: hidden;
    color: #fff;

  }
  .scroll .text{
    position: absolute;
    margin: 5px, 0;
    padding: 0;
    width: max-content;
    animation: my-ani 24s linear infinite;
  }